<header class="bg-gray-800 text-white"></header>
    <nav class="container mx-auto px-4 py-6">
        <div class="flex justify-between items-center">
            <a href="/" class="text-xl font-bold">{{ .Site.Title }}</a>
            
            <ul class="flex space-x-6">
                <li><a href="/" class="hover:text-gray-300">Home</a></li>
                <li><a href="/about" class="hover:text-gray-300">About</a></li>
                <li><a href="/posts" class="hover:text-gray-300">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>